<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lesson 08</title>
</head>
<body>
<div id="i-am-id">
  Lorem ipsum dolor sit.
</div>
<div class="i-am-class">
  Lorem ipsum dolor.
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem facere, in incidunt ipsum soluta ut vel. Accusantium atque debitis, deleniti fugit quaerat tempore voluptatibus! Cum fuga non sapiente sed voluptas!
  </p>
</div>
<div class="i-am-class">
  <strong>Lorem ipsum dolor sit amet.</strong>
</div>
<div id="list"></div>
<script src="js/app.js"></script>

<script id="todo-list" type="text/x-handlebars-template">
  <ul>
    {{#each todos}}
      <li>{{this.title}}</li>
    {{/each}}
  </ul>
</script>
</body>
</html>
